/*!
 * Style
 *
 * Copyright 2016 Denis Chenu <http://www.sondages.pro>
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.table .cell{text-align:center}
.table .cell{width:20%}
.table .answer{width:40%}

.table .header{background:#444;color:#fff}
.table .bg-primary{background:#0092dd;color:#fff}
h3{margin-top:1em}
h3 small{display:block}
h2{margin-top:1em;color:#0092dd}
h2 small{display:block}

.jqplot-target{max-width:100%}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.brand img{height:2em;width:auto}

.jqplot-line .jqplot-point-label{color:#333}
.nopercentage .rate{border-left:0px none}
.nopercentage .response{border-left:0px none}
.chart-day .jqplot-xaxis canvas:first-child{display:none}
.chart-day .jqplot-xaxis canvas:last-child{display:none}

/*
.chart-day .jqplot-xaxis .jqplot-xaxis-tick{display:none}
*/
